<?xml version="1.0" encoding="UTF-8"?>
<Settings><Setting VarType="0" Name=""><Setting VarType="0" Name="Form1"><Setting VarType="3" Name="Height">286</Setting><Setting VarType="3" Name="Left">241</Setting><Setting VarType="3" Name="Top">100</Setting><Setting VarType="3" Name="Width">578</Setting></Setting></Setting></Settings>
