body
  {
    margin-left:0px;
    margin-top:0px;
    margin-right:0px;
    margin-bottom:0px;
    background-color:white;
    font-family:Tahoma,Sans-serif; 
    color:DarkSlateBlue;
  }

p
  {
    font-size:12px;
  }

a
  {
    color:DarkSlateBlue;
    text-decoration:underline;
    cursor:pointer;
  }

a:hover
  {
    color:red;
    text-decoration:none;
  }

a:visited
  {
    font-size:12px;
  }

table.Base
  {
    background-color:white;
    border-width:0px;
    border-collapse:collapse;
    width:100%;
  }

.bottomline
  {
    width:100%;
    background-color:white;
    border-bottom-width:1px;
    border-bottom-style:solid;
    border-bottom-color:#D0D0F3;
  }

div.Home_Intro_Quote1
  {
    font-family:Times New Roman,Serif;
    font-size:35px;
    color:black;
    font-style:italic;
    padding-left:80px;
  }

div.Home_Intro_Quote2
  {
    font-family:Times New Roman,Serif;
    font-size:35px;
    color:black;
    font-style:italic;
    padding-left:180px;
  }

div.Home_Intro_Author
  {
    font-family:Times New Roman,Serif;
    font-size:18px;
    color:black;
    padding-left:480px;
  }
  
td.Home_News
  {
    vertical-align:top;
    background-color:white;
    border-left-width:1px;
    border-left-style:solid;
    border-left-color:#D0D0F3;
    border-top-width:1px;
    border-top-style:solid;
    border-top-color:#D0D0F3;
    width:200;  
    padding-left:6px;
    padding-top:6px;
  }

td.Home_Main
  {
    background-color:white;
  }
  
div.Home_NewsHeader
  {
    font-family:Tahoma,Sans-serif;
    color:Gray;
    font-size:12px;
    font-weight:bolder;
  }

div.Home_NewsItem
  {
    font-family:Tahoma,Sans-serif;
    color:DarkSlateBlue;
    font-size:12px;
    padding-left:6px;
    vertical-align:top;
  }

div.ProductItem
  {
    font-family:Tahoma,Sans-serif;
    color:DarkSlateBlue;
    font-size:12px;
    padding-top:16px;
    padding-left:16px;
    /*ext-align:left;*/
    vertical-align: text-top;
  }

td.PoductItem_Img
  {
    width:64px; 
    vertical-align: top;
  }

td.PoductItem_Txt
  {
    font-size:12px;
    padding-left:6px;
  }

ul.ProductItem_List
  {
    list-style-type:circle;
  }

div.ParagraphHeader
  {
    color:LimeGreen;
    /*width:100%;*/
    font-size:12px;
    padding-left:6px;
    padding-top:20px;
    border-bottom-width:1px;
    border-bottom-style:solid;
    border-bottom-color:#D0D0F3;
  }

div.ParagraphText
  {
    font-size:12px;
    padding-left:16px;
  }

a.LinkRef
  {
    width:280px;
    float:left;
  }

#LinkDescript
  {
    float:left;
  }

font.code
  {
    font-family:Courier New,Sans-serif;
  }

font.downloadInfo
  {
    font-size:9px;
  }

font.headline_intext
  {
    font-weight:bolder;
  }

img.intext
  {
    border-style:solid;
    border-width:1px;
    padding:2px;
    margin-left:10px;
    vertical-align:top;
  }
img.icon
  {
    width:16px;
    height:16px;
    margin-right:3px;
    margin-left:3px;
  }



