1 VERSIONINFO
FILEVERSION 1, 1, 6, 6
PRODUCTVERSION 1, 1, 6, 0
FILEFLAGSMASK VS_FFI_FILEFLAGSMASK
FILEOS VOS__WINDOWS32
FILETYPE VFT_APP
{
 BLOCK "StringFileInfo"
 {
  BLOCK "040704E4"
  {
   VALUE "CompanyName", "TheUnknownOnes\000"
   VALUE "FileDescription", "An IDE-expert for Delphi\000"
   VALUE "FileVersion", "1.1.6.6\000"
   VALUE "InternalName", "CNA\000"
   VALUE "LegalCopyright", "2006\000"
   VALUE "LegalTrademarks", "CNA\000"
   VALUE "OriginalFilename", "CNAExpert.bpl\000"
   VALUE "ProductName", "CNA\000"
   VALUE "ProductVersion", "1.1.6\000"
  }

 }

 BLOCK "VarFileInfo"
 {
  VALUE "Translation", 1031, 1252
 }

}
